.cinematic-img {
    transition: 
        opacity 1.2s ease-out,
        filter 1.2s ease-out,
        transform 1.2s ease-out;
}
.revealed {
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translate(0, 0) !important;
}
.mobile-open {
    opacity: 1 !important;
}
