.cinematic-img {
    transition: 
        opacity 1.2s ease-out,
        filter 1.2s ease-out,
        transform 1.2s ease-out;
}
.revealed {
    opacity: 1 !important;
    filter: blur(0) !important;
    transform: translate(0, 0) !important;
}
.mobile-open {
    opacity: 1 !important;
}
.fade-up {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
    transition: all 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.delay-2 {
    transition-delay: 0.25s;
}
